<div>
    <div>
      <ul class="nav nav-pills nav-fill navbar-default navbar-fixed-top">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cluster1">Cluster 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cluster2">Cluster 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cluster3">Cluster 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cluster4"  >Cluster 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cluster5"  >Cluster 5</a>
        </li>
      </ul>
    
    </div>
    
  </div>