.toppading{
    margin-top: 40px;
    margin-left: 30px;
}
.top{
    margin-left: 30px;
    text-align: inherit;
}
.toppadings{
   margin: 20px;
    margin-left: 10px;
    margin-top: 20px;
    
}
.data{
    margin-top: 40px;
    padding-left: 3%;
}
.left {
    display:inline-block;
}
.right {
    float: right;
}
#servicecategory{
    width:1150px ;
      height:400px ;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
}

#servicecategory1{
    width:450px ;
    height:400px ;
    
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
     
}
#servicecategory2{
    width:450px ;
    height:400px ;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
#databasepaas{
    width:450px ;
    height:400px ;
    margin-left: 20px; 
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
#industryvsazuredb{
    width:450px ;
    height:400px ;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; 
}

.testbox{
    background-color: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

#topaccountvsazuredb{
    width:450px ;
    height:400px ;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; 
}