
<div class=" content">
  <div>
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0"></h5>
                      <span class="h2 font-weight-bold mb-0" style="color:rgb(10, 10, 10);"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon text-white">
                        <!-- <i class="fas fa-chart-bar"></i> -->
                        <!-- <span class="h2 font-weight-bold mb-0" style="color:white;">382</span> -->
                        <img src="./assets/img/Box-icon1.png" style="height:40px; padding-left: 5px;  background-color: #04ecc4;">
                       
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"></span>
                    <span class="h2 font-weight-bold mb-0" style="color:rgb(10, 10, 10);;">13</span><br>
                    <span class="text-nowrap font-weight-bold">Total Live Application</span>
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0"></h5>
                      <span class="h2 font-weight-bold mb-0" style="color:rgb(10, 10, 10);;"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon  text-white rounded-circle shadow">
                        <!-- <i class="fas fa-chart-pie"></i> -->
                        <img src="./assets/img/Box-icon2.png" style="height:40px; padding-left: 5px;  background-color: #04ecc4;">

                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <!-- <span class="text-success mr-2"></span> -->
                    <span class="h2 font-weight-bold mb-0" style="color:rgb(10, 10, 10);;">0</span><br>
                    <span class="text-nowrap font-weight-bold">Live Native Projects</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0"></h5>
                      <span class="h2 font-weight-bold mb-0" style="color:white;"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon  text-white rounded-circle shadow">
                        <!-- <i class="fas fa-users"></i> -->
                        <img src="./assets/img/Box-icon3.png" style="height:40px; padding-left: 5px;  background-color: #04ecc4;">
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"></span>
                    <span class="h2 font-weight-bold mb-0" style="color:rgb(10, 10, 10);;">2</span><br>
                    <span class="text-nowrap font-weight-bold">Development Projects</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0"></h5>
                      <span class="h2 font-weight-bold mb-0" style="color:white;"></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon text-white rounded-circle shadow">
                        <!-- <i class="fas fa-percent"></i> -->
                        <img src="./assets/img/Box-icon4.png" style="height:40px; padding-left: 5px;  background-color: #04ecc4;">
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"></span>
                    <span class="h2 font-weight-bold mb-0" style="color:rgb(10, 10, 10);;">2</span><br>
                    <span class="text-nowrap font-weight-bold">Native Development</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  


<div class="row">
  <div class="col-md-5 leftmargin testbox">
          <div class="top" style="margin: 20px ;">
            <h4><b>Live Projects</b></h4>
            <canvas baseChart
            [labels]="doughnutChartLabels"
            [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions"
            [legend]="true"
            [type]="'doughnut'"
            style="margin-left: 60px;">
            </canvas>
        </div>
    </div>
   
  <div class="col-md-1"> </div>
  <div class="col-md-5 linechartcss testbox">
    <div class="top" style="margin: 20px ;">  
         <h4 style="margin-bottom: 30px;" ><b>Cloud Native Index</b></h4>
          <div class="row">
            <div>
            <h6 class="rotatedtext">PERCENTAGE</h6>
            </div>
            <div>
            <canvas id="proposals" id="lineChart"> </canvas>
           </div>
          </div>
            <h6 >LEVELS</h6>
       </div>
    </div>
</div>

<br>
        
    <br>
  
<div class="row">

  <div class="col-md-5 testbox" style="margin-left: 40px;" >
      <div class="top" style="margin: 30px ;">
        <h4><b>Cloud Native - Business Outcomes</b></h4>
        <h4>Operational Cost</h4>
        <p><ngb-progressbar class="progress-bar" type="success" textType="dark"  height="15px" [value]="60">60%</ngb-progressbar></p>
        <br>
        <h4>Customer Experience</h4>
        <p><ngb-progressbar class="progress-bar" type="success" textType="dark" [value]="70" height="15px"><i>70%</i></ngb-progressbar></p>
        <br>
        <h4>Digital Journey</h4>
        <p><ngb-progressbar class="progress-bar" type="success" textType="dark" [value]="40" height="15px">40%</ngb-progressbar></p>
      </div>
    </div>

    <div class="col-md-1"> </div>

<div class="col-md-5 testbox" style="margin-right: 30px;">
  <div class="top" style="margin: 30px;">
      <h4><b>Cloud Native - IT Outcomes</b></h4>
      <h4>Scalability</h4>
      <p><ngb-progressbar class="progress-bar" type="info" textType="dark"   height="15px" [value]="25">25%</ngb-progressbar></p>
      <br>
      <h4>Reliability</h4>
      <p><ngb-progressbar class="progress-bar" type="info" textType="dark"  [value]="40" height="15px"><i>40%</i></ngb-progressbar></p>
      <br>
      <h4>Technology Replacement</h4>
      <p><ngb-progressbar class="progress-bar" type="info" textType="dark"   [value]="35" height="15px">35%</ngb-progressbar></p>
    </div>
</div>

<!-- <div class="col-sm-4 ">
<div class="toppadings" style="height: 100%; margin-left: 40px;">
  
  <h4><b>Cloud Native - IT Outcomes</b></h4>
  <canvas id="cloudnativeitoutcome" baseChart
        [data]="barChartData1"
        [options]="barChartOptions1"
      
        [plugins]="barChartPlugins1"
        [legend]="barChartLegend1"
        [type]="'bar'">
</canvas>
</div>
</div>  -->

</div> 
<!-- <div class="row">
  <div class="col-sm-4" style="margin-left: 40px;">
<div class="toppadings">
  <h4><b>Cloud Native - IT Outcomes</b></h4>
  <h6>Scalability</h6>
  <p><ngb-progressbar class="progress-bar"  height="15px" [value]="20">20%</ngb-progressbar></p>
  <br>
  <h6>Reliability</h6>
<p><ngb-progressbar class="progress-bar" [value]="30" height="15px"><i>30%</i></ngb-progressbar></p>
<br>
<h6>Technology Replacemenet</h6>
<p><ngb-progressbar class="progress-bar" [value]="35" height="15px">35%</ngb-progressbar></p>
</div>
</div> -->




<div class="row">

  <div class="col-md-5 testbox" style="margin-top: 50px;margin-left: 40px;">
    <div class="top" style="margin:30px ;">
    <h4><b>Cluster vs Application</b></h4>
          <canvas id="clustervsapp" baseChart
          [data]="barChartData2"
          [options]="barChartOptions2"
          [plugins]="barChartPlugins2"
          [legend]="barChartLegend2"
          [type]="'bar'"
          style="margin-right:40px ;">
          </canvas>
          </div>
          
        </div>

        <div class="col-md-1"> </div>

       <div class="col-md-5 testbox" style="margin-right: 30px; margin-top: 50px;">
        <div class="top" style="margin:30px;">
         <h4><b>Proposals</b></h4>
           <canvas id="proposals"  baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
           </canvas>
           </div>
       </div>
      


  </div>
 </div>







<!-- <div class="col-sm-4">
  <div class="toppadings">
  <h4><b>Cluster vs Application</b></h4>
    <canvas baseChart
          [data]="barChartData2"
          [options]="barChartOptions2"
          [plugins]="barChartPlugins2"
          [legend]="barChartLegend2"
          [type]="'bar'">
  </canvas>
  </div>
  </div> -->

<div class="row "  style="margin-top: 50px;margin-left: 25px;width: 1195px;">

 <div class="col-md-19 testbox">
  <div class="toppading">
    <h4><b>Application transition</b></h4>
           <canvas id="applicationtransition" baseChart
            [data]="barChartData3"
            [options]="barChartOptions3"
            [plugins]="barChartPlugins3"
            [legend]="barChartLegend3"
            [type]="'bar'">
           </canvas>
        </div>
       </div>
  
   <div class="col">
  
   </div>
  </div>
</div>

  
 

  
