#customervsazureservice{
    width:450px ;
    height:400px ;
    margin-left: 10px; 

}
#topcustomervsazureservucecat{
    width:450px ;
    height:400px ;
    margin-left: 10px; 
}
#cloudnativecategory1{
    width:450px ;
    height:400px ;
    margin-left: 10px; 
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#clusterdetails{
    width:450px ;
    height:400px ;
    margin-left: 10px; 
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#databasepaasservice{
    width:450px ;
    height:400px ;
    margin-left: 10px; 
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#industryvsazuredb{
    width:450px ;
    height:400px ;
    margin-left: 10px;   
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#topaccountsvsazure{
    width:450px ;
    height:400px ;
    margin-left: 10px; 
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.toppading{
    
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
      
}
.testbox{
    background-color: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

#topcustomervsazureservicecat{
    width:450px ;
    height:400px ;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

