.toppading{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    
}
.top{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.toppadings{
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

#servicecategory{
  width:1150px ;
  height:400px ;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#servicecategory1{
  width:450px ;
  height:400px ;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
   
}


.leftmargin{
margin-left: 40px;
}
#cloudnativeitoutcome{
  width:450px ;
  height:400px ;
  margin-left: 10px; 
}
  .progress-bar {
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 100%);
    
    }

    .linechartcss{
      margin-right: 30px;
    }

    #applicationtransition{
      width:1150px ;
      height:400px ;
      margin-right: 20px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }

    #proposals{
      width:500px ;
      height:450px ;
      margin-right: 20px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }

    #clustervsapp{
      width:500px ;
      height:450px ;
      margin-right: 10px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;

    }

    .testbox{
      
        background: #eee;
        box-shadow: 0 8px 8px -4px lightblue;
    
    }

.rotatedtext{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
