<div class="logo">
  <a  class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/logo-white.png" />
    </div>
  </a>
  <a  class="simple-text logo-normal">
    Cloud Native
  </a>
</div>

<div class="sidebar-wrapper">

  <ul class="nav">

    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/dashboard">
        <i class="tim-icons  icon-chart-pie-36"></i>
        <p style="font-size: 14px; ">Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/businessdashboard">
        <i style="margin-left: 20px; "class="tim-icons  icon-bank"></i>
        <p style="margin-left: 20px; font-size: 11px; ">Business Dashboard</p>
      </a>
    </li>

    <li routerLinkActive="active" class="nav-item" >
      <a routerLink="/service">
        <i class="tim-icons  icon-settings-gear-63"></i>
        <p style="font-size: 14px; ">Service</p>
      </a>
    </li>

    <li routerLinkActive="active" class="nav-item ">
    <a >
      <i class="tim-icons  icon-badge"></i>
      <p style="font-size: 14px; ">Customers</p>
    </a>
  </li>

  <li routerLinkActive="active" class="nav-item">
    <a routerLink="/cluster1">
      <i style="margin-left: 20px; "class="tim-icons  icon-coins"></i>
      <p style="margin-left: 20px; font-size: 11px;">Cluster 1</p>
    </a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a routerLink="/cluster2">
      <i style="margin-left: 20px; "class="tim-icons  icon-coins"></i>
      <p style="margin-left: 20px;font-size: 11px; ">Cluster 2</p>
    </a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a routerLink="/cluster3">
      <i style="margin-left: 20px; "class="tim-icons  icon-coins"></i>
      <p style="margin-left: 20px;font-size: 11px; ">Cluster 3</p>
    </a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a routerLink="/cluster4">
      <i style="margin-left: 20px; "class="tim-icons  icon-coins"></i>
      <p style="margin-left: 20px;font-size: 11px; ">Cluster 4</p>
    </a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a routerLink="/cluster5">
      <i style="margin-left: 20px; "class="tim-icons  icon-coins"></i>
      <p style="margin-left: 20px; font-size: 11px;">Cluster 5</p>
    </a>
  </li>

  <li routerLinkActive="active" class="nav-item">
    <a routerLink="/report">
      <i class="tim-icons  icon-badge"></i>
      <p style="font-size: 14px; ">Report</p>
    </a>
  </li>


<!-- //tried from scratch -->
  <!-- <li routerLinkActive="active" >

    <a data-toggle="collapse"  routerLinkActive="active"  aria-controls="report">
      <i class="tim-icons  icon-badge"></i>
      <p>test1</p>
    </a>
       <div class="navbar-collapse" id="report"  style="display:none;overflow:hidden">
        <ul class="nav">
          <li routerLinkActive="active">
           <a > <span>menu1</span> </a>
          </li>
        </ul>
      </div>
  </li> -->
    </ul>
    </div>



  <!-- <li routerLinkActive="active" class="nav-link" data-toggle="navbar-collapse"  aria-expanded="false" >
  <a >
    <i class="tim-icons  icon-book-bookmark"></i>
    <p>testmenu</p>
  </a>

  <div class="collapse"  >
    <ul class="nav flex-column sub-menu">
      <li class="nav-item" >
        <a class="nav-link">
          test1sub
        </a>
      </li>
    </ul>
  </div>
</li> -->




<!-- <li class="nav-item has-submenu">
  <a class="nav-link" href="#"> Cluster Tab</a>
  <ul class="submenu collapse">
    <li><a class="nav-link" href="#">Cluster 1</a></li>
    <li><a class="nav-link" href="#">Cluster 2</a></li>
    <li><a class="nav-link" href="#">Cluster 3</a></li>
    <li><a class="nav-link" href="#">Cluster 4</a></li>
    <li><a class="nav-link" href="#">Cluster 5</a></li>

  </ul>
</li>  -->

<!--
<div class="container">
  <span class=" cluster">Cluster</span>
  <div class="cluster-list">
    <a href="#">Cluster 1</a>
    <a href="#">Cluster 2</a>
    <a href="#">Cluster 3</a>
    <a href="#">Cluster 4</a>
    <a href="#">Cluster 5</a>
  </div>
</div> -->






<!-- </li> -->

<!-- <li ngbDropdown class="d-inline-block">
  <i class="tim-icons  icon-book-bookmark"></i>
  <p id="dropdownBasic1" ngbDropdownToggle>test1</p>
  <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <li ngbDropdownItem>cluster 1</li>
    <li ngbDropdownItem>cluster 2</li>
    <li ngbDropdownItem>cluster 3</li>
  </ul>
</li> -->

		<!-- <ul>
			<li type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Toggle dropdown
      </li>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Another Action</button>
				<button ngbDropdownItem>Something else is here</button>
			</div>
  </ul> -->

<!-- <ul>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Services123 <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a >Carwashes</a></li>
      <li><a >Lapdances</a></li>
      <li><a >Musicals</a></li>
      <li><a >Tutorials</a></li>
      <li><a >Catering</a></li>
    </ul>
  </li>
</ul> -->

      <!-- (Sublist) -->
    <!-- <ul>
      <li class="nav-item">
        <a >
          <i class="tim-icons  icon-chart-pie "></i>
          <p>Custer 1</p>
        </a>
      </li>
    </ul> -->



    <!-- <li
routerLinkActive="active"
class="nav"
>
<a data-toggle="collapse" routerlinkactive="active">
  <i class="tim-icons  icon-book-bookmark"></i>
  <p data-toggle="collapse">Cluster</p>
</a>
<div class="collapse">
  <ul>
    <li><a class="nav-link" href="#">Cluster 1</a></li>
    <li><a class="nav-link" href="#">Cluster 2</a></li>
    <li><a class="nav-link" href="#">Cluster 3</a></li>
    <li><a class="nav-link" href="#">cluster 4</a></li> -->

<!--
    <div class="dropdown">
      <ul>
      <li class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </li>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </ul>
    </div> -->








