#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #customers tr:hover {
    background-color: #ddd;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #04ecc4;
    color: white;
  }

 

   

 .head{
  position: relative;
  top: 0px;
  left: 0;
  width:1242px;
  height:30px;
  line-height: 5px;
  text-indent: 10px;
  border-bottom: 2px solid #ccc;
  color: white;
  background-color:#04ecc4; 
  margin-bottom: -30px;
  border-radius:5px;

}

.body{
  width:1242px;
  height:250px;
  position:relative;
  padding:50px 10px 10px;
  border-radius:5px;
  
}

    .testbox{
      
      background: #eee;
      box-shadow: 0 8px 8px -4px lightblue;
  
  }